* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
}

.iphone-bar {
  width: 100%;
  height: 12.5vh;
  background-color: gray;
  position: absolute;
  bottom: 0;
  z-index: 999;
  display: none;
}

@media (max-width: 1024px) {
  .mob-only {
    display: unset;
  }

  .desk-only {
    display: none;
  }
}
@media (min-width: 1024px) {
  .mob-only {
    display: none;
  }

  .desk-only {
    display: unset;
  }
}
body {
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 20vh;
  z-index: 3;
}
header .logo {
  width: 35vw;
  height: 20vh;
  margin-left: 5vw;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header .menu {
  height: 4vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 7vw;
  position: relative;
}
header .menu div {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
}
header .menu .stick-1 {
  transform-origin: center;
  transition: all 0.5s ease;
}
header .menu .stick-2 {
  transform-origin: center;
  transition: all 0.5s ease;
}
header .menu .stick-top {
  top: 0;
  transition: all 0.5s ease;
}
header .menu .stick-bottom {
  bottom: 0;
  transition: all 0.5s ease;
}
@media (min-width: 1024px) {
  header .logo {
    width: 10vw;
    height: 10vh;
  }
  header .menu {
    height: 3vh;
    width: 3vw;
  }
}

.main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.step-1 {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step-1 video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.step-1 div {
  width: 100%;
  height: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step-1 div h1 {
  text-align: center;
  color: white;
  font-family: "Avenir Next";
  font-weight: 400;
  line-height: 5vh;
}
.step-1 div h2 {
  text-align: center;
  color: white;
  font-family: "Avenir Next";
  font-weight: 900;
  font-size: 9vw;
  text-transform: uppercase;
  margin-top: 3vh;
}
.step-1 div .hand {
  background-image: url("../assets/hand.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw;
  margin-top: 55vh;
  animation-name: up;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@media (min-width: 1025px) {
  .step-1 div {
    width: 70%;
    align-items: start;
  }
  .step-1 h1 {
    font-size: 2vw;
    text-align: left !important;
  }
  .step-1 h2 {
    font-size: 4vw !important;
    text-align: left !important;
  }
  .step-1 .hand {
    display: none;
  }
}

.step-2 {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.step-2 .bg-image {
  height: 20vh;
  width: 100%;
  background-image: url("../assets/step-2-bg-image-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.step-2 .bg-gradient {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(to top, #314d8b 0%, #30cfd0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-2 .bg-gradient .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
  position: relative;
}
.step-2 .bg-gradient .title .title-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #31518d;
  color: transparent;
  transform: translateX(10px) translateY(10px);
}
.step-2 .bg-gradient .title h2 {
  position: absolute;
  font-size: 9vw;
  color: white;
  text-transform: uppercase;
  font-family: "Avenir Next";
  font-weight: 900;
}
.step-2 .bg-gradient .slider {
  width: 100%;
  height: 48vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.step-2 .bg-gradient .slider .card {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir Next";
  font-weight: 400;
  color: #31518d;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
}
.step-2 .bg-gradient .slider .card .card-icon {
  width: 25vw;
  height: 10vh;
  margin-top: 3vh;
}
.step-2 .bg-gradient .slider .card h3 {
  text-align: center;
  font-weight: 500;
  margin-top: 2vh;
}
.step-2 .bg-gradient .slider .card p {
  text-align: center;
  margin-top: 2vh;
  width: 80%;
  font-size: 3.5vw;
}
.step-2 .bg-gradient .slider div:nth-child(1) .card-icon {
  background-image: url("../assets/card-icon-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.step-2 .bg-gradient .slider div:nth-child(2) .card-icon {
  background-image: url("../assets/card-icon-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.step-2 .bg-gradient .slider div:nth-child(3) .card-icon {
  background-image: url("../assets/card-icon-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.step-2 .bg-gradient .slider div:nth-child(4) .card-icon {
  background-image: url("../assets/card-icon-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 1025px) {
  .step-2 {
    display: flex;
    flex-direction: row;
  }
  .step-2 .bg-image {
    height: 100vh;
    width: 30%;
    background-image: url("../assets/step-2-bg-image-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .step-2 .bg-gradient {
    height: 100vh;
  }
  .step-2 .bg-gradient .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
    position: relative;
    align-self: start;
  }
  .step-2 .bg-gradient .title .title-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #31518d;
    color: transparent;
    transform: translateX(15px) translateY(15px);
  }
  .step-2 .bg-gradient .title h2 {
    font-size: 4vw;
    margin-top: 17vh;
  }
  .step-2 .bg-gradient .slider {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 5vh;
  }
  .step-2 .bg-gradient .slider .card {
    position: static;
    width: 16vw;
    height: 55vh;
  }
  .step-2 .bg-gradient .slider .card p {
    font-size: 1vw;
  }
}

.step-3 {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.step-3 .bg-image {
  height: 20vh;
  width: 100%;
  background-image: url("../assets/step-3-bg-image-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.step-3 .bg-gradient {
  height: 80vh;
  width: 100%;
  background-color: #4aac40;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-3 .bg-gradient .animation-box {
  width: max-content;
  height: max-content;
  position: relative;
  margin-top: 3vh;
}
.step-3 .bg-gradient .animation-box .hose-1 {
  width: 30vw;
  height: 8vh;
  background-image: url("../assets/hose-mob-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -4vh;
  right: 5vw;
}
.step-3 .bg-gradient .animation-box .hose-2 {
  width: 25vw;
  height: 8vh;
  background-image: url("../assets/hose-mob-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 6vh;
  left: -17vw;
}
.step-3 .bg-gradient .animation-box .hose-3 {
  width: 20vw;
  height: 8vh;
  background-image: url("../assets/hose-mob-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 6vh;
  right: -18vw;
}
.step-3 .bg-gradient .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 4vh;
  position: relative;
}
.step-3 .bg-gradient .title .title-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #77dd76;
  color: transparent;
  transform: translateX(10px) translateY(10px);
}
.step-3 .bg-gradient .title h2 {
  position: absolute;
  font-size: 9vw;
  color: white;
  text-transform: uppercase;
  font-family: "Avenir Next";
  font-weight: 900;
  white-space: nowrap;
}
.step-3 .bg-gradient .slider {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3vh;
}
.step-3 .bg-gradient .slider .card {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir Next";
  font-weight: 400;
  color: #4aac40;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
}
.step-3 .bg-gradient .slider .card .card-number {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: -3.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step-3 .bg-gradient .slider .card .card-number p {
  margin-top: 0;
  font-size: 4vw;
  font-weight: 600;
}
.step-3 .bg-gradient .slider .card h3 {
  text-align: center;
  font-weight: 500;
  margin-top: 2vh;
  font-size: 5vw;
}
.step-3 .bg-gradient .slider .card p {
  text-align: center;
  margin-top: 0.5vh;
  width: 80%;
  font-size: 3.5vw;
}
@media (min-width: 1025px) {
  .step-3 {
    display: flex;
    flex-direction: row;
  }
  .step-3 .bg-image {
    height: 100vh;
    width: 30%;
    background-image: url("../assets/step-3-bg-image-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .step-3 .bg-gradient {
    height: 100vh;
    position: relative;
  }
  .step-3 .bg-gradient .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
    position: relative;
    align-self: start;
    transform: translateX(7vw);
  }
  .step-3 .bg-gradient .title .title-stroke {
    transform: translateX(15px) translateY(15px);
  }
  .step-3 .bg-gradient .title h2 {
    font-size: 4vw;
    margin-top: 17vh;
  }
  .step-3 .bg-gradient .animation-box {
    margin-top: 15vh;
  }
  .step-3 .bg-gradient .animation-box lottie-player {
    width: 25vw !important;
    height: 25vw !important;
  }
  .step-3 .bg-gradient .animation-box .hose-1 {
    display: none;
  }
  .step-3 .bg-gradient .animation-box .hose-2 {
    display: none;
  }
  .step-3 .bg-gradient .animation-box .hose-3 {
    display: none;
  }
  .step-3 .bg-gradient .slider {
    height: 100%;
    position: absolute;
    margin-top: 0;
  }
  .step-3 .bg-gradient .slider .card {
    width: 16vw;
    height: 35vh;
  }
  .step-3 .bg-gradient .slider .card .card-number {
    width: 2vw;
    height: 2vw;
    top: -0.9vw;
  }
  .step-3 .bg-gradient .slider .card .card-number p {
    font-size: 1vw;
  }
  .step-3 .bg-gradient .slider .card h3 {
    font-size: 1.4vw;
  }
  .step-3 .bg-gradient .slider .card p {
    font-size: 1vw;
  }
  .step-3 .bg-gradient .slider .card:nth-child(1) {
    right: 17vw;
    top: 13vh;
  }
  .step-3 .bg-gradient .slider .card:nth-child(1) .hose-1-desktop {
    width: 16vw;
    height: 20vh;
    background-image: url("../assets/hose-1-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 14vh;
    left: -13vw;
  }
  .step-3 .bg-gradient .slider .card:nth-child(2) {
    left: 8vw;
    top: 45vh;
  }
  .step-3 .bg-gradient .slider .card:nth-child(2) .hose-2-desktop {
    width: 7vw;
    height: 15vh;
    background-image: url("../assets/hose-2-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 14vh;
    right: -5vw;
  }
  .step-3 .bg-gradient .slider .card:nth-child(3) {
    right: 5vw;
    top: 50vh;
  }
  .step-3 .bg-gradient .slider .card:nth-child(3) .hose-3-desktop {
    width: 10vw;
    height: 17vh;
    background-image: url("../assets/hose-3-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10vh;
    left: -7vw;
  }
}

.step-4 {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.step-4 .bg-image {
  height: 20vh;
  width: 100%;
  background-image: url("../assets/step-4-bg-image-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.step-4 .bg-gradient {
  height: 80vh;
  width: 100%;
  background-image: url("../assets/step-4-bg-gradient-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-4 .bg-gradient .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 4vh;
  position: relative;
}
.step-4 .bg-gradient .title .title-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d3cbb7;
  color: transparent;
  transform: translateX(10px) translateY(10px);
}
.step-4 .bg-gradient .title h2 {
  position: absolute;
  font-size: 9vw;
  color: white;
  text-transform: uppercase;
  font-family: "Avenir Next";
  font-weight: 900;
  white-space: nowrap;
}
.step-4 .bg-gradient .slider {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3vh;
}
.step-4 .bg-gradient .slider .step {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
}
.step-4 .bg-gradient .slider .step .card {
  width: 100%;
  height: 48%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir Next";
  font-weight: 400;
  color: black;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.step-4 .bg-gradient .slider .step .card .card-brand {
  width: 80%;
  height: 60%;
  margin-top: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.step-4 .bg-gradient .slider .step .card P {
  font-size: 5vw;
  font-weight: 500;
}
.step-4 .bg-gradient .slider .step .card .card-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/case-1.jpg");
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}
.step-4 .bg-gradient .slider .card:nth-child(1) .card-brand {
  background-image: url("../assets/large_collegebound.png");
}
.step-4 .bg-gradient .slider .card:nth-child(2) .card-brand {
  background-image: url("../assets/large_frack.png");
}
.step-4 .bg-gradient .slider .card:nth-child(3) .card-brand {
  background-image: url("../assets/large_liquidpipeline_0.png");
}
@media (min-width: 1025px) {
  .step-4 {
    display: flex;
    flex-direction: row;
  }
  .step-4 .bg-image {
    height: 100vh;
    width: 30%;
    background-image: url("../assets/step-4-bg-image-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .step-4 .bg-gradient {
    height: 100vh;
    position: relative;
  }
  .step-4 .bg-gradient .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
    position: relative;
    align-self: start;
  }
  .step-4 .bg-gradient .title .title-stroke {
    transform: translateX(15px) translateY(15px);
  }
  .step-4 .bg-gradient .title h2 {
    font-size: 4vw;
    margin-top: 17vh;
  }
  .step-4 .bg-gradient .slider {
    flex-direction: row;
    height: 60vh;
    width: 90%;
  }
  .step-4 .bg-gradient .slider .step {
    position: static;
  }
  .step-4 .bg-gradient .slider .step .card {
    width: 21vw;
    height: 48%;
    position: relative;
  }
  .step-4 .bg-gradient .slider .step .card p {
    font-size: 1.4vw;
  }
}

.step-5 {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.step-5 .bg-image {
  height: 20vh;
  width: 100%;
  background-image: url("../assets/step-5-bg-image-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.step-5 .bg-gradient {
  height: 80vh;
  width: 100%;
  background-image: url("../assets/step-5-bg-gradient-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-5 .bg-gradient .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 4vh;
  position: relative;
}
.step-5 .bg-gradient .title .title-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dc8022;
  color: transparent;
  transform: translateX(10px) translateY(10px);
}
.step-5 .bg-gradient .title h2 {
  position: absolute;
  font-size: 9vw;
  color: white;
  text-transform: uppercase;
  font-family: "Avenir Next";
  font-weight: 900;
  white-space: nowrap;
}
.step-5 .bg-gradient h3 {
  color: white;
  text-align: center;
  font-size: 5vw;
  font-weight: 500;
  margin-top: 2vh;
}
.step-5 .bg-gradient .select {
  margin-top: 5vh;
  width: 50vw;
  height: 6vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
}
.step-5 .bg-gradient .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color: white;
}
.step-5 .bg-gradient .select select {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-left: 13vw;
  font-size: 5vw;
  color: gray;
}
.step-5 .bg-gradient .select .arrow {
  width: 3vw;
  height: 3vw;
  background-image: url("../assets/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: repeat;
  position: absolute;
  right: 5vw;
  pointer-events: none;
}
.step-5 .bg-gradient p {
  color: white;
  width: 80%;
  text-align: center;
  margin-top: 5vh;
  font-size: 5vw;
}
.step-5 .bg-gradient a {
  width: 65vw;
  height: 8vh;
  text-transform: uppercase;
  color: #da7d21;
  border: none;
  font-size: 4.5vw;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  margin-top: 4vh;
  background-color: white;
  text-align: center;
  line-height: 8vh;
}
@media (min-width: 1025px) {
  .step-5 {
    display: flex;
    flex-direction: row;
  }
  .step-5 .bg-image {
    height: 100vh;
    width: 30%;
    background-image: url("../assets/step-5-bg-image-desk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .step-5 .bg-gradient {
    height: 100vh;
    position: relative;
  }
  .step-5 .bg-gradient .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
    position: relative;
    align-self: start;
  }
  .step-5 .bg-gradient .title .title-stroke {
    transform: translateX(15px) translateY(15px);
  }
  .step-5 .bg-gradient .title h2 {
    font-size: 4vw;
    margin-top: 17vh;
  }
  .step-5 .bg-gradient h3 {
    font-size: 2vw;
    margin-top: 5vh;
  }
  .step-5 .bg-gradient .select {
    width: 15vw;
    margin-top: 7vh;
  }
  .step-5 .bg-gradient .select select {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 4vw;
    font-size: 1.3vw;
  }
  .step-5 .bg-gradient .select .arrow {
    right: 0.5vw;
  }
  .step-5 .bg-gradient p {
    font-size: 1.5vw;
    width: 58%;
    margin-top: 7vh;
  }
  .step-5 .bg-gradient a {
    width: 22vw;
    height: 7vh;
    font-size: 1.4vw;
    margin-top: 7vh;
  }
}

.nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #30cfd0 0%, #323f84 100%);
  z-index: 2;
  transform: scale(0);
  transform-origin: right top;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.nav .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 17vh;
}
.nav .title h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 9vw;
  text-transform: uppercase;
  font-weight: 900;
}
.nav .title .title-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #31518d;
  color: transparent;
  transform: translateX(10px) translateY(10px);
}
.nav .text {
  margin-top: 10vh;
  text-align: center;
  width: 85%;
}
.nav a {
  width: 65vw;
  height: 7vh;
  color: #31518d;
  border: none;
  font-size: 4vw;
  -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  margin-top: 4vh;
  background-color: white;
  text-align: center;
  line-height: 8vh;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav a span {
  text-transform: uppercase;
  white-space: nowrap;
}
.nav .navgator {
  width: 50%;
  height: 35vh;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.nav .navgator .line {
  width: 3%;
  height: 100%;
  background-color: white;
  grid-column: 1/2;
  grid-row: 1/5;
  justify-self: center;
}
.nav .navgator .pointer-box {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}
.nav .navgator .pointer-box .pointer {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}
.nav .navgator .pos-1 {
  width: 4vw;
  height: 4vw;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 50%;
  border: 1px solid white;
  justify-self: center;
  background-color: #3188ab;
}
.nav .navgator .pos-2 {
  width: 4vw;
  height: 4vw;
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 50%;
  border: 1px solid white;
  justify-self: center;
  background-color: #317ca4;
}
.nav .navgator .pos-3 {
  width: 4vw;
  height: 4vw;
  grid-column: 1/2;
  grid-row: 3/4;
  border-radius: 50%;
  border: 1px solid white;
  justify-self: center;
  background-color: #316799;
}
.nav .navgator .pos-4 {
  width: 4vw;
  height: 4vw;
  grid-column: 1/2;
  grid-row: 4/5;
  border-radius: 50%;
  border: 1px solid white;
  justify-self: center;
  background-color: #326598;
}
.nav .navgator .pos-5 {
  width: 4vw;
  height: 4vw;
  grid-column: 1/2;
  grid-row: 5/6;
  border-radius: 50%;
  border: 1px solid white;
  justify-self: center;
  background-color: #315991;
}
.nav .navgator .screen-1 {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: left;
}
.nav .navgator .screen-1 p {
  text-transform: uppercase;
}
.nav .navgator .screen-2 {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: left;
}
.nav .navgator .screen-2 p {
  text-transform: uppercase;
}
.nav .navgator .screen-3 {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: left;
}
.nav .navgator .screen-3 p {
  text-transform: uppercase;
  white-space: nowrap;
}
.nav .navgator .screen-4 {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: left;
}
.nav .navgator .screen-4 p {
  text-transform: uppercase;
}
.nav .navgator .screen-5 {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: left;
}
.nav .navgator .screen-5 p {
  text-transform: uppercase;
}
@media (min-width: 1025px) {
  .nav .title h2 {
    font-size: 5vw;
  }
  .nav .text {
    width: 50%;
    font-size: 1.5vw;
    margin-top: 20vh;
  }
  .nav a {
    width: 30vw;
    font-size: 1.4vw;
    margin-top: 10vh;
  }
  .nav .navgator {
    display: none;
  }
}

/*# sourceMappingURL=all.css.map */
