.step-2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;

  .bg-image {
    height: 20vh;
    width: 100%;
    background-image: url('../assets/step-2-bg-image-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-gradient {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to top, #314d8b 0%, #30cfd0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 9vw;
      color: white;
      text-transform: uppercase;
      font-family: 'Avenir Next';
      font-weight: 900;
      margin-top: 4vh;
      margin-bottom: 4vh;
    }

    .slider {
      width: 100%;
      height: 52vh;
      display: flex;
      justify-content: center;
      position: relative;

      .card {
        position: absolute;
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Avenir Next';
        font-weight: 400;
        color: #31518d;
        -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);

        .card-icon {
          width: 25vw;
          height: 10vh;
          margin-top: 5vh;
        }

        h3 {
          text-align: center;
          font-weight: 500;
          margin-top: 2vh;
        }

        p {
          text-align: center;
          margin-top: 2vh;
          width: 80%;
          font-size: 3.5vw;
        }
      }

      div:nth-child(1) {
        .card-icon {
          background-image: url('../assets/card-icon-1.png');
          @include background-center;
        }
      }

      div:nth-child(2) {
        .card-icon {
          background-image: url('../assets/card-icon-2.png');
          @include background-center;
        }
      }

      div:nth-child(3) {
        .card-icon {
          background-image: url('../assets/card-icon-3.png');
          @include background-center;
        }
      }

      div:nth-child(4) {
        .card-icon {
          background-image: url('../assets/card-icon-4.png');
          @include background-center;
        }
      }
    }
  }
}
