.step-5 {
  width: 100%;
  height: 100vh;
  position: absolute;

  .bg-image {
    height: 20vh;
    width: 100%;
    background-image: url('../assets/step-5-bg-image-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-gradient {
    height: 80vh;
    width: 100%;
    background-image: url('../assets/step-5-bg-gradient-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      @include centralize;
      margin-top: 5vh;
      margin-bottom: 4vh;
      position: relative;

      .title-stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #dc8022;
        color: transparent;
        transform: translateX(10px) translateY(10px);
      }

      h2 {
        position: absolute;
        font-size: 9vw;
        color: white;
        text-transform: uppercase;
        font-family: 'Avenir Next';
        font-weight: 900;
        white-space: nowrap;
      }
    }

    h3 {
      color: white;
      text-align: center;
      font-size: 5vw;
      font-weight: 500;
      margin-top: 2vh;
    }

    .select {
      margin-top: 5vh;
      width: 70vw;
      height: 6vh;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        border: none;
        background-color: white;
      }

      select {
        height: 100%;
        width: 100%;
        text-align: center;
        padding-left: 0;
        font-size: 5vw;
        color: gray;
        text-align-last: center;
      }

      .arrow {
        width: 3vw;
        height: 3vw;
        background-image: url('../assets/arrow.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: repeat;
        position: absolute;
        right: 5vw;
        pointer-events: none;
      }
    }

    p {
      color: white;
      width: 80%;
      text-align: center;
      margin-top: 5vh;
      font-size: 5vw;
    }

    a {
      width: 65vw;
      height: 8vh;
      text-transform: uppercase;
      color: gray;
      border: none;
      font-size: 4.5vw;
      -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
      border-radius: 50px;
      margin-top: 4vh;
      background-color: white;
      text-align: center;
      line-height: 8vh;
      transition: all 0.5s linear;
      cursor: pointer;
      pointer-events: none;
    }
  }

  @media (min-width: 1025px) {
    display: flex;
    flex-direction: row;

    .bg-image {
      height: 100vh;
      width: 30%;
      background-image: url('../assets/step-5-bg-image-desk.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .bg-gradient {
      height: 100vh;
      position: relative;

      .title {
        @include centralize;
        margin-top: 14vh;
        margin-bottom: 14vh;
        position: relative;
        align-self: start;

        .title-stroke {
          transform: translateX(15px) translateY(15px);
        }

        h2 {
          font-size: 4vw;
          margin-top: 17vh;
        }
      }

      h3 {
        font-size: 2vw;
        margin-top: 5vh;
      }

      .select {
        width: 20vw;
        margin-top: 7vh;

        select {
          height: 100%;
          width: 100%;
          text-align: center;
          font-size: 1.3vw;
        }

        .arrow {
          right: 0.5vw;
        }
      }

      p {
        font-size: 1.5vw;
        width: 58%;
        margin-top: 7vh;
      }

      a {
        width: 22vw;
        height: 7vh;
        font-size: 1.4vw;
        margin-top: 7vh;
      }
    }
  }
}
