.step-3 {
  width: 100%;
  height: 100vh;
  position: absolute;

  .bg-image {
    height: 20vh;
    width: 100%;
    background-image: url('../assets/step-3-bg-image-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-gradient {
    height: 80vh;
    width: 100%;
    background-color: #4aac40;
    display: flex;
    flex-direction: column;
    align-items: center;

    .animation-box {
      width: max-content;
      height: max-content;
      position: relative;
      margin-top: 3vh;

      .hose-1 {
        width: 30vw;
        height: 8vh;
        background-image: url('../assets/hose-mob-1.png');
        @include background-center;
        position: absolute;
        top: -4vh;
        right: 8vw;
      }

      .hose-2 {
        width: 25vw;
        height: 8vh;
        background-image: url('../assets/hose-mob-2.png');
        @include background-center;
        position: absolute;
        top: 8vh;
        left: -15vw;
      }

      .hose-3 {
        width: 20vw;
        height: 8vh;
        background-image: url('../assets/hose-mob-3.png');
        @include background-center;
        position: absolute;
        top: 7vh;
        right: -15vw;
      }
    }

    h2 {
      font-size: 9vw;
      color: white;
      text-transform: uppercase;
      font-family: 'Avenir Next';
      font-weight: 900;
      margin-top: 2vh;
    }

    .slider {
      width: 100%;
      height: 25vh;
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 3vh;

      .card {
        position: absolute;
        width: 80%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Avenir Next';
        font-weight: 400;
        color: #4aac40;
        -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);

        .card-number {
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
          background-color: white;
          -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.16);
          position: absolute;
          top: -3.5vw;
          @include centralize;

          p {
            margin-top: 0;
            font-size: 4vw;
            font-weight: 600;
          }
        }

        h3 {
          text-align: center;
          font-weight: 500;
          margin-top: 3vh;
          font-size: 5vw;
        }

        p {
          text-align: center;
          margin-top: 1vh;
          width: 80%;
          font-size: 3.5vw;
        }
      }
    }
  }
}
